# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Medical Image Data
data/raw/
data/processed/
uploads/
*.png
*.jpg
*.jpeg
*.dcm
*.nii
*.nii.gz
*.csv
*.json

# Reports
reports/
*.pdf
*.docx

# Models
models/
checkpoints/
outputs/
*.pt
*.pth
*.h5
*.keras
*.onnx
*.safetensors
*.bin

# Vector Stores
vectorstore/
faiss_index/
chroma_db/

# ML Tracking
wandb/
mlruns/
runs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
